:root {
  --button-bg-color: #0C4A82;
}


.App {
  text-align: center;
  background-color: #F49D05;
  height: 85%;
  width: 100%;
  font-size: calc(10px + 5vmin);
}



.increment {
  margin: 0;
  position: absolute;
  top: 43%;
  left: 57%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 5px solid var(--button-bg-color);
  border-radius: 50%;
  font-family: 'Montserrat';
  color: #F49D05;
  background-color: var(--button-bg-color);
  font-size: 3.5vmin;
  height: 6vmin;
  width: 6vmin;
}

.decrement {
  margin: 0;
  position: absolute;
  top: 43%;
  left: 43%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 5px solid var(--button-bg-color);
  border-radius: 50%;
  font-family: 'Montserrat', sans-serif;
  color: #F49D05;
  background-color: var(--button-bg-color);
  font-size: 3.5vmin;
  height: 6vmin;
  width: 6vmin;
}

.reset {
  margin: 0;
  position: absolute;
  top: 43%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 5px solid var(--button-bg-color);
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #F49D05;
  background-color: var(--button-bg-color);
  font-size: 3vmin;
  height: 6vmin;
  width: 14vmin;
}

.mainsection {

  padding-top: 15vh;
  text-align: center;
  height: 65vh;
  position: relative;
  font-family: 'Montserrat';
  background-color: #F49D05;
  
  
}




